:root {
  --text-accent: #057af0;
  --text-title: #e3e3e3;
  --text-content: #9b9b9b;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Containers and grids */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-1x3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Generic styles */
a {
  text-decoration: none;
  color: var(--text-title);
}

ul {
  padding-left: 0;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text-content);
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

/* Background */
.background {
  background: url(../images/bg.jpeg);
  height: 100vh; /*! Change this */
}

/* Nav-Bar */

.nav-bar {
  background-color: #131313;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  margin-right: 15%;
}

.nav-list {
  width: auto;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  text-transform: uppercase;
}

.list {
  list-style: none;
  padding-left: 0;
}

.nav-item {
  text-align: center;
  padding: 1.5rem 2.5rem;
}

.nav-item:hover {
  background-color: #2a2a2a;
}

.nav-item-selected {
  color: var(--text-accent);
}

.nav-toggler {
  display: none;
}

.nav-search {
  max-width: 20px;
  cursor: pointer;
}

/* Hero Carousel */
.hero-carousel {
  position: relative;
}

.carousel-item {
  display: none;
  position: relative;
}

.carousel-item-visible {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-content {
  position: absolute;
  bottom: 2.8rem;
  left: 3em;
  color: var(--text-title);
}

.carousel-content-title {
  font-size: 3.2rem;
  margin-bottom: 0;
}

.carousel-content-text {
  margin-top: 0.5rem;
}

.carousel-content-text > span {
  color: var(--text-accent);
  font-weight: bold;
}

.carousel-dots {
  text-align: center;
  position: relative;
  bottom: 40px;
}

.swiper {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: var(--text-content);
  cursor: pointer;
}

.swiper-selected {
  background-color: var(--text-accent);
}

/* Twitch Section */

.video-player-container,
.streamer-container,
.featured-content-container {
  color: var(--text-accent);
  font-family: "Roboto Condensed", sans-serif;
}

.video-player {
  width: 90%;
  height: 100%;
  border: 1px solid black;
  color: var(--text-title);
  text-align: center;
}

.vid-player-content {
  margin-top: 6rem;
}

.streamer-list-container {
  color: var(--text-title);
  font-size: 2rem;
  width: 90%;
}

.flex-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.streamer-pic {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

.streamer-name {
  flex-grow: 2;
}

.icon {
  max-width: 20px;
  max-height: 20px;
}

.streamer-twitter:hover {
  color: var(--text-accent);
}

.streamer-twitch:hover {
  /*! Change to Twitch purple*/
  color: purple;
}
