:root {
  --text-accent: #057af0;
  --text-title: #e3e3e3;
  --text-content: #9b9b9b;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Containers and grids */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text-content);
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

/* Background */
.background {
  background: url(../images/bg.jpeg);
  height: 100vh; /*! Change this */
}

/* Nav-Bar */

.nav-bar {
  background-color: #131313;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  margin-right: 15%;
}

.nav-list {
  width: auto;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--text-title);
}

.list {
  list-style: none;
  padding-left: 0;
}

.nav-item {
  text-align: center;
  padding: 1.5rem 2.5rem;
}

.nav-item:hover {
  background-color: #2a2a2a;
}

.nav-item-selected {
  color: var(--text-accent);
}

.nav-toggler {
  display: none;
}

.nav-search {
  max-width: 20px;
  cursor: pointer;
}

/* Hero Carousel */
.hero-carousel {
  position: relative;
}

.carousel-item {
  display: none;
}

.carousel-item-visible {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-dots {
  text-align: center;
  position: relative;
  bottom: 40px;
}

.swiper {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: var(--text-content);
  cursor: pointer;
}

.swiper-selected {
  background-color: var(--text-accent);
}
