<!-- Navigation bar -->
<div class="nav-bar">
  <div class="container">
    <nav class="nav collapsible" id="home">
      <a class="nav-brand" href="#">
        <img class="nav-brand-img" src="images/nav-logo.webp" alt="" />
      </a>
      <img class="nav-icon nav-toggler" src="images/toggler.webp" alt="" />
      <ul class="list nav-list collapsible-content">
        <li class="nav-item">
          <a class="nav-item-selected" href="#">Home</a>
        </li>
        <li class="nav-item"><a href="#">Build Guides</a></li>
        <li class="nav-item"><a href="#">Raids</a></li>
        <li class="nav-item"><a href="#">Resources</a></li>
        <li class="nav-item"><a href="#">Islands</a></li>
        <li class="nav-item"><a href="#">World Map</a></li>
        <li class="nav-item"><a href="#">Team</a></li>
      </ul>
      <img class="nav-search" src="images/search-white.webp" alt="" />
    </nav>
  </div>
</div>
<!-- End of Nav bar -->
