<div class="container">
  <h2 class="section-header">Recently Updated Posts</h2>
  <div class="grid grid-1x4">
    <div class="build-guides-container">
      <h3 class="updated-list-title">Build Guides</h3>
      <ul>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Pistoleer Deadeye Raid Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Energy Overflow Soulfist Raid Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#">Sorceress Leveling Guide</a>
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Sharpshooter Leveling Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content recent-see-all" href="#"
            >See All Build Guides</a
          >
        </li>
      </ul>
    </div>
    <div class="guardian-raids-container">
      <h3 class="updated-list-title">Guardian Raids</h3>
      <ul>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Igrexion Guardian Raid Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Night Fox Yoho Guardian Raid Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Armoured Nacrasena Guardian Raid Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Alberhastic Guardian Raid Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content recent-see-all" href="#"
            >See All Guardian Raids</a
          >
        </li>
      </ul>
    </div>
    <div class="abyssal-dungeons-container">
      <h3 class="updated-list-title">Abyssal Dungeons</h3>
      <ul>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Aira's Oculus Abyssal Dungeon Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Oreha Preveza Abyssal Dungeon Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Alaric's Sanctuary Abyssal Dungeon Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Tranquil Karkosa Abyssal Dungeon Guide</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content recent-see-all" href="#"
            >See All Abyssal Dungeons</a
          >
        </li>
      </ul>
    </div>
    <div class="resources-container">
      <h3 class="updated-list-title">Resources</h3>
      <ul>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >How Do I Increase My Virtue Stats?</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#">Awakening Guide</a>
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#">Rapport Guide</a>
        </li>
        <li class="list updated">
          <a class="updated-list-content" href="#"
            >Best In Slot Card Sets For Endgame</a
          >
        </li>
        <li class="list updated">
          <a class="updated-list-content recent-see-all" href="#"
            >See All Resources</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
