<div class="container">
  <div class="grid grid-1x3">
    <div class="video-player-container">
      <h2>Video Player</h2>
      <div class="video-player">
        <div class="vid-player-content">
          Video Player Not Implemented For Mockup
        </div>
      </div>
    </div>
    <div class="streamer-container">
      <h2>More Maxroll Streamers</h2>
      <ul>
        <div class="streamer-list-container">
          <li class="list flex-list">
            <a href="#"
              ><img class="streamer-pic" src="images/lexyu.png" alt="" />
              <div class="online-status"></div>
            </a>
            <p class="streamer-name"><a href="#">Lexyu</a></p>
            <a href=""><img class="icon" src="images/twitter.webp" alt="" /></a>
            <a href=""><img class="icon" src="images/twitch.webp" alt="" /></a>
          </li>
          <li class="list flex-list">
            <a href="#"
              ><img class="streamer-pic" src="images/saintone.png" alt="" />
              <div class="online-status online"></div
            ></a>
            <p class="streamer-name"><a href="#">Saintone</a></p>
            <a href=""><img class="icon" src="images/twitter.webp" alt="" /></a>
            <a href=""><img class="icon" src="images/twitch.webp" alt="" /> </a>
          </li>
          <li class="list flex-list">
            <a href="#"
              ><img class="streamer-pic" src="images/raxx.png" alt="" />
              <div class="online-status"></div
            ></a>
            <p class="streamer-name"><a href="#">Raxxanterax</a></p>
            <a href=""
              ><img
                class="icon streamer-twitter"
                src="images/twitter.webp"
                alt=""
            /></a>
            <a href=""
              ><img
                class="icon streamer-twitch"
                src="images/twitch.webp"
                alt=""
            /></a>
          </li>
        </div>
      </ul>
    </div>
    <div class="featured-content-container">
      <div class="featured-content-title">
        <h2>Featured Content</h2>
        <span class="featured-content-news-link"
          ><a href="">View All News</a></span
        >
      </div>
      <ul>
        <li class="list flex-list">
          <img src="images/yt.webp" alt="" />
          <p class="featured-yt-title">
            Lost Ark Scrapper Leveling 1-50 Fresh Character <br />
            <span class="featured-yt-author">by Choilicous</span>
          </p>
        </li>
        <li class="list flex-list">
          <img src="images/yt.webp" alt="" />
          <p class="featured-yt-title">
            Lost Ark Abyssal Dungeon Gameplay: Alaric's Sanctuary <br />
            <span class="featured-yt-author">by Choilicous</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
